<br><br>



Client Name:<%=@client.name%>
<br><br>
Enrollment Date:<%=@client.enrollment_date%>
<br><br>
Casenote:<%=@client.case_note%>
<br><br>

ID:<%=@client.id%>
<br><br>

UserID:<%=@user.id%>

<br><br>
<%=@client.user.name%>

<br><br>

<a href="/clients/<%=@client.id%>/edit">Edit client</a>

<br><br>

<form action="/clients/<%= @client.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>

<br><br>

<a href='/clients/'>HomePage</a>

<br><br>

<a href="/logout">Logout</a>