<h1>Client's Dashboard</h1>

<br>

Client Name: <%=@client.name%>
<br><br>
Enrollment Date: <%=@client.enrollment_date%>
<br><br>
Casenote: <%=@client.case_note%>
<br><br>

Client ID: <%=@client.id%>
<br><br>


<a href="/clients/<%=@client.id%>/edit">Edit client</a>

<br><br>

<form action="/clients/<%= @client.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>

<br>

<a href='/clients/'>HomePage</a>  <a href="/logout">Logout</a>

